<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>
<script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>

{% verbatim %}

<body>
    <div id="index">
        <div v-for='item in somedata'>
            {{item.title}}
        </div>
    </div>

</body>
{% endverbatim %}
<script>
    new Vue({
        el: '#index',
        data: {
            somedata: [{
                title: '首页'
            }, {
                title: '第一页'
            }, {
                title: '第二页'
            }, {
                title: '第三页'
            }]
        },
    })
</script>

</html>